# Node modules
node_modules/

# Variables d'environnement
.env

# Fichiers uploadés dynamiques
uploads/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS spécifiques
.DS_Store
Thumbs.db

# IDE / éditeurs
.vscode/
.idea/

# Fichiers temporaires
*.tmp
*.temp